*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height:200vh;
    background-color: #000;
}

.container{
    position:relative;
    height:103vh;
    overflow:hidden;
    animation:animate 4s linear infinite;
}


.row{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}
.row:nth-child(even){
    margin-left: 10px;
}

/* .hexagon{
    position:relative;
    width: 60px;
    height: 100px;
    background-color: black;

}
.hexagon::before{
    content: " ";
    width:0px;
    height: 0px;
    position:absolute;
    top:0;
    right: 60px;
    border-top:50px solid transparent;
    border-right:30px solid black;
    border-bottom:50px solid transparent;
}
.hexagon::after{
    content: " ";
    width:0px;
    height: 0px;
    position:absolute;
    top:0;
    right: -29px;
    border-top:50px solid transparent;
    border-left:30px solid black;
    border-bottom:50px solid transparent;
} */

.hexagon {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: black;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 2px;
    transition: 2s;
}

.hexagon:hover{
    transition: 0s;
    background-color: #0f0;
}

.hexagon::after{
    content:"";
    position:absolute;
    top:4px;
    bottom:4px;
    left:4px;
    right:4px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon::before {
    content: "";
    position: absolute;
    width: 50%; 
    height: 100%; 
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.07);
    pointer-events: none;
}


@keyframes animate{
    from{
        filter: hue-rotate(0deg)
    }
    to{
        filter: hue-rotate(360deg)
    }
}

